@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-lg text-primary;
  }
  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-xl;
  }
  section {
    @apply py-28 px-14 xl:px-64 text-center;
  }
}

@font-face {
  font-family: "HarmoniaSans";
  src: url("../../public/fonts/HarmoniaSans/HarmoniaSans-Light.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "HarmoniaSans";
  src: url("../../public/fonts/HarmoniaSans/HarmoniaSans-LightItalic.otf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "HarmoniaSans";
  src: url("../../public/fonts/HarmoniaSans/HarmoniaSans-Regular.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "HarmoniaSans";
  src: url("../../public/fonts/HarmoniaSans/HarmoniaSans-Italic.otf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "HarmoniaSans";
  src: url("../../public/fonts/HarmoniaSans/HarmoniaSans-SemiBold.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "HarmoniaSans";
  src: url("../../public/fonts/HarmoniaSans/HarmoniaSans-SemiBoldItalic.otf");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "HarmoniaSans";
  src: url("../../public/fonts/HarmoniaSans/HarmoniaSans-Bold.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "HarmoniaSans";
  src: url("../../public/fonts/HarmoniaSans/HarmoniaSans-BoldItalic.otf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "HarmoniaSans";
  src: url("../../public/fonts/HarmoniaSans/HarmoniaSans-Black.otf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "HarmoniaSans";
  src: url("../../public/fonts/HarmoniaSans/HarmoniaSans-BlackItalic.otf");
  font-weight: 900;
  font-style: italic;
}

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.hamburger.open {
  transform: rotate(90deg);
}

.hamburger.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.hamburger.open .hamburger-middle {
  display: none;
}

.hamburger.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

/* mobile submenu plus */
.submenu {
  position: relative;
}
.submenu:after,
.submenu::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 15px;
  top: 50%;
  transform: translatey(-50%);
  background-color: black;
  right: 0;
  transition: all ease-in 0.3s;
}
.submenu::before {
  transform: rotate(270deg);
}
.submenu.open::before {
  transform: rotate(0);
}

/* noscroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* arrow */
.long-arrow-icon-css {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 12px;
  position: relative;
  z-index: 0;
  transition: all ease-in-out 0.25s;
}
.long-arrow-icon-css:after,
.long-arrow-icon-css:before {
  transition: all ease-in-out 0.25s;
  content: "";
  display: block;
  position: absolute;
}
.long-arrow-icon-css:before {
  height: 1px;
  background-color: #161616;
  width: 18px;
}
.long-arrow-icon-css:after {
  width: 9px;
  height: 9px;
  left: 100%;
  top: 50%;
  transform: translate(-100%, -50%) rotate(45deg);
  border: 1px solid #161616;
  border-left: none;
  border-bottom: none;
}
/*  */
.counter-reset {
  counter-reset: my-sec-counter;
}
.bg-number::before {
  counter-increment: my-sec-counter;
  content: "0" counter(my-sec-counter);
  position: absolute;
  font-size: max(80px, 7.813vw);
  color: rgba(105, 105, 105, 0.05);
  bottom: 0;
  right: 0;
  line-height: max(50px, 5.104vw);
  font-weight: 700;
}

/* swiper */
.swiper-button-next::after {
  content: "" !important;
  width: max(30px, 2.917vw);
  height: max(30px, 2.917vw);
  background-color: #2063f0;
  border-radius: 50%;
  background-image: url(../../public/images/angle-right.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  position: absolute;
  right: max(15px, 6.458vw);
  box-shadow: 0px max(16px, 0.833vw) max(32px, 1.667vw) #2063f080;
  transform: translateY(-50%);
}
.swiper-button-prev::after {
  content: "" !important;
  width: max(30px, 2.917vw);
  height: max(30px, 2.917vw);
  background-color: #2063f0;
  border-radius: 50%;
  background-image: url(../../public/images/angle-left.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  position: absolute;
  left: max(15px, 6.458vw);
  box-shadow: 0px max(16px, 0.833vw) max(32px, 1.667vw) #2063f080;
  transform: translateY(-50%);
}
.swiper-slide {
  height: auto !important;
}
/* .swiper {
  overflow: unset !important;
} */
.swiper-pagination-bullet {
  width: max(16px, 0.833vw) !important;
  height: max(8px, 0.417vw) !important;
  background-color: #09bc8a !important;
  border-radius: max(6px, 0.313vw) !important;
  opacity: 0.5 !important;
}
.swiper-pagination-bullet-active {
  width: max(40px, 2.083vw) !important;
  opacity: 1 !important;
}
.swiper-pagination {
  position: static !important;
  margin-top: max(30px, 2.5vw) !important;
}
.swiper-slide {
  margin-right: max(15px, 1.667vw);
}