@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-lg text-primary;
  }
  h1 {
    @apply text-6xl text-dark;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-xl;
  }
  section {
    @apply py-28 px-14 xl:px-64;
  }
}

@font-face {
  font-family: "HarmoniaSans";
  src: url("../../public/fonts/HarmoniaSans/HarmoniaSans-Light.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "HarmoniaSans";
  src: url("../../public/fonts/HarmoniaSans/HarmoniaSans-LightItalic.otf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "HarmoniaSans";
  src: url("../../public/fonts/HarmoniaSans/HarmoniaSans-Regular.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "HarmoniaSans";
  src: url("../../public/fonts/HarmoniaSans/HarmoniaSans-Italic.otf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "HarmoniaSans";
  src: url("../../public/fonts/HarmoniaSans/HarmoniaSans-SemiBold.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "HarmoniaSans";
  src: url("../../public/fonts/HarmoniaSans/HarmoniaSans-SemiBoldItalic.otf");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "HarmoniaSans";
  src: url("../../public/fonts/HarmoniaSans/HarmoniaSans-Bold.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "HarmoniaSans";
  src: url("../../public/fonts/HarmoniaSans/HarmoniaSans-BoldItalic.otf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "HarmoniaSans";
  src: url("../../public/fonts/HarmoniaSans/HarmoniaSans-Black.otf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "HarmoniaSans";
  src: url("../../public/fonts/HarmoniaSans/HarmoniaSans-BlackItalic.otf");
  font-weight: 900;
  font-style: italic;
}

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.hamburger.open {
  transform: rotate(90deg);
}

.hamburger.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.hamburger.open .hamburger-middle {
  display: none;
}

.hamburger.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

/* mobile submenu plus */
.submenu {
  position: relative;
}
.submenu:after,
.submenu::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 15px;
  top: 50%;
  transform: translatey(-50%);
  background-color: black;
  right: 0;
  transition: all ease-in 0.3s;
}
.submenu::before {
  transform: rotate(270deg);
}
.submenu.open::before {
  transform: rotate(0);
}

.sidebar-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #131313;
  transition: 0.5s;
}
/* noscroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/*  */
.style-hyphen li:after {
  position: absolute;
  content: "";
  left: 0;
  top:50%;
  transform: translateY(-50%);
  background: url(../../public/images/right-arrow.png) center/contain no-repeat;
  height: max(13px,0.849vw);
  width: max(15px,0.833vw);
  -webkit-filter: brightness(.5);
  filter: brightness(.5);
}

/* arrow */
.long-arrow-icon-css {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 12px;
  position: relative;
  z-index: 0;
  transition: all ease-in-out 0.25s;
}
.long-arrow-icon-css:after, .long-arrow-icon-css:before {
  transition: all ease-in-out 0.25s;
  content: "";
  display: block;
  position: absolute;
}
.long-arrow-icon-css:before {
  height: 1px;
  background-color: #161616;
  width: 18px;
}
.long-arrow-icon-css:after {
  width: 9px;
  height: 9px;
  left: 100%;
  top: 50%;
  transform: translate(-100%, -50%) rotate(45deg);
  border: 1px solid #161616;
  border-left: none;
  border-bottom: none;
}
/*  */
.step-col-1 {
  counter-reset: my-sec-counter;
}
.services-cell::before {
  counter-increment: my-sec-counter;
  content: "0" counter(my-sec-counter);
  position: absolute;
  font-size: 6rem;
  color: rgba(105,105,105,.05);
  bottom: -18px;
  right: 0;
  line-height: 6.875rem;
  font-weight: 700;
}
